.root-img-bg {
    background-position: center;
    background-size: cover;
    height: calc(100vh - 180px);

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);

        .text {
            font-family: "Crossfit-Bold";
            color: white;
        }

        .button {
            color: white;
            border-color: white;
            font-size: 1.25rem;
            margin-top: 1rem;
        }
    }
}