.orderform-root {
    display: flex;
    justify-content: center;
    padding-top: 1rem;

    .orderform-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 75%;
        padding: 1rem;

        .orderform-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;

            .title {
                font-family: "Crossfit-Bold";
            }

            .subtotal {
                font-size: 2rem;
                font-family: "Crossfit-Bold";
            }
        }

        .accordion-title {
            font-family: "Crossfit-Bold";
        }

        .form-inputs {
            .MuiFormControl-root.MuiTextField-root{
                margin: 1rem
            }
        }

        .accordion-actions {

            &.first {
                justify-content: flex-end;
            }

            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
}

@media (max-width: 1200px) {
    .orderform-container {
        width: 80%;
    }
}

@media (max-width: 425px) {
    .orderform-container {
        width: 100%;
    }
}