.age-verification-dialog {
    #alert-dialog-title .MuiTypography-root{
        font-size: 2rem;
        font-family: "Crossfit-Bold";
        text-align: center;
    }

    .MuiDialogActions-root {
        justify-content: space-around;
    }
}