.MuiTypography-h1.coming-soon {
    font-family: "Crossfit-Bold";
}

.MuiGrid-item.center {
    display: flex;
    justify-content: center;
}

@media (max-width: 425px) {
    img.beer-toast {
        width: 80vw;
    }

    .MuiTypography-root.MuiTypography-h1 {
        font-size: 3rem;
    }

}