.title {
    padding:16px;
}
.team-box{
    padding: 16px;

    .MuiTypography-root.MuiTypography-body1 {
        margin-bottom: 16px;
    }

    .separator {
        border-bottom: 1px solid #ddd
    }
}