.beer-page {
    .header {
        display: flex;
        align-content: space-between;

        .title {
            flex-grow: 1;
        }
        .menu {
            padding: 28px;
            span {
                color: #777;
                cursor: pointer;

                &.selected {
                    color: #000;
                }

                &:hover {
                    color: rgb(0, 118, 148)
                }
            }
        }
    }

    .subtitle {
        padding-left: 1rem;
    }
}