.beer-page {
    .header {
        display: flex;
        align-content: space-between;
        align-items: center;

        .page-title {
            flex-grow: 1;
        }
        .menu {
            padding: 1rem;
            span {
                color: #777;
                cursor: pointer;

                &.selected {
                    color: #000;
                }

                &:hover {
                    color: rgb(0, 118, 148)
                }
            }
        }
    }

    .subtitle {
        padding-left: 1rem;
        font-size: 1.5rem;
    }

    padding-bottom: 5%;
}

@media only screen and (max-width: 1200px) {
    .beer-page {
        padding-bottom: 10px;
        .header {
            flex-direction: column;
        }
    }
}