.app .background {
    flex: 1 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 80vh;

    .mask {
        height: 100%;
        background-color: rgba(255,255,255,0.5);
    }
}

.CarouselItem > div {
    display: flex;
}

.nav-btn {
    opacity: 0.4;
}

.homepage-container {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;

    &.v-top {
        justify-content: flex-start;
    }

    &.v-center {
        justify-content: center;
    }

    &.v-bottom {
        justify-content: flex-end;
    }

    &.h-left {
        align-items: flex-start;
    }

    &.h-center {
        align-items: center;
    }

    &.h-right {
        align-items: flex-end;
    }
}

.homepage-box {
    width: 60%;
    padding: 1rem;

    &.align-left {
        text-align: left;
    }

    &.align-center {
        text-align: center;
    }

    &.align-right {
        text-align: right;
    }

    .MuiTypography-h1.title {
        font-family: "Crossfit-Bold";
    }

    .MuiTypography-h2.subtitle {
        margin-bottom: 2rem;
        font-family: 'Oswald', sans-serif;
        color: #434343;
        font-style: italic;
    }

    .MuiTypography-h4.intro {
        margin-top: 2rem;
        font-family: 'Oswald', sans-serif;
    }

    .MuiTypography-h3.motto {
        font-family: "Crossfit-Bold";
        margin-top: 1rem;
    }

}

@media (max-width: 1366px) {
    .homepage-box {
        width: 75%;
    }
    
    .MuiTypography-root.MuiTypography-h1 {
        font-size: 4rem;
    }

    .MuiTypography-root.MuiTypography-h2 {
        font-size: 2.5rem;
    }

    .MuiTypography-root.MuiTypography-h3 {
        font-size: 2rem;
    }

    .MuiTypography-root.MuiTypography-h4 {
        font-size: 1.5rem;
    }
}

@media (max-width: 425px) {
    .homepage-box {
        width: 90%;
    }

    .MuiTypography-root.MuiTypography-h1 {
        font-size: 3rem;
    }

    .MuiTypography-root.MuiTypography-h2 {
        font-size: 2rem;
    }

    .MuiTypography-root.MuiTypography-h3 {
        font-size: 1.5rem;
    }

    .MuiTypography-root.MuiTypography-h4 {
        font-size: 1rem;
    }
}